*.pyc
*~
*.csv
!example.csv
*.pdf
*.ps
*.png
dist.*
npanxx99.txt
!bmp_ranges.csv
!cbc_ranges.csv
!sample_datasets/dist.all.last
!sample_datasets/dist.female.first
!sample_datasets/dist.male.first
!sample_datasets/npanxx99.txt
!sample_datasets/zip_code_database.csv
!sample_datasets/zipcodes.csv
!sample_datasets/patients.csv
!sample_datasets/labs.csv
!histology.csv
!stage.csv
